<div class="content">
  <mat-accordion>
    <!-- <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Personal data
        </mat-panel-title>
        <mat-panel-description>
          Type your name and age
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>I'm visible because I am open</p>
    </mat-expansion-panel> -->
    <mat-expansion-panel *ngFor="let group of groupMatches; let i = index;" [expanded]="step === i" (opened)="setStep(i)" hideToggle="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Grupo {{group.grupo}}
        </mat-panel-title>
        <!-- <mat-panel-description>
        </mat-panel-description> -->
      </mat-expansion-panel-header>
      <!-- CUERPO -->
      <div class="row" *ngFor="let partido of group.partidos">
        <div class="col-md-1 col-sm-1 col-xs-1">
          <div class="logo-img">
            <img src="../../../assets/img/flags/{{partido.keynameA}}.png" width="55px" alt="">
          </div>
        </div>
        <div class="col-md-2  col-sm-2 col-xs-2 text-center">
          <div class="form-group">
            <label>{{partido.NombreA}}</label>
            <input type="text" name="match{{partido.idPartido}}A" ngModel #match="ngModel" id="match" class="form-control border-input inputsGoles"
              placeholder="">
            <!-- <input type="text" [(ngModel)]="[partido.idPartido][partido.keynameA]" class="form-control border-input inputsGoles" placeholder=""> -->
          </div>
        </div>
        <div class="col-md-2 col-sm-2 col-xs-2 text-center">
          <div class="form-group">
            <label>{{partido.NombreB}}</label>
            <input type="text" name="match{{partido.idPartido}}B" ngModel #match="ngModel" id="match" class="form-control border-input inputsGoles"
              placeholder="">
            <!-- <input type="text" [(ngModel)]="[partido.idPartido][partido.keynameB]" class="form-control border-input inputsGoles" placeholder=""> -->
          </div>
        </div>
        <div class="col-md-1 col-sm-1 col-xs-1">
          <div class="logo-img">
            <img src="../../../assets/img/flags/{{partido.keynameB}}.png" width="55px" alt="">
          </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6">
          <label>Fecha partido: {{partido.fechaPartido}}</label>
        </div>
      </div>
      <mat-action-row>
        <div *ngIf="i === 0">
          <div class="text-center">
            <button class="btn btn-primary btn-fill btn-wd" (click)="nextStep()">Siguiente</button>
          </div>
          <!-- <button mat-button color="primary" (click)="nextStep()">Siguiente</button> -->
        </div>
        <div *ngIf="i > 0 && i < (groupMatches.length - 1)">
          <div class="text-center">
            <button class="btn btn-warning btn-fill btn-wd" (click)="prevStep()">Anterior</button>
            <button class="btn btn-primary btn-fill btn-wd" (click)="nextStep()">Siguiente</button>
          </div>
          <!-- <button mat-button color="warn" (click)="prevStep()">Anterior</button>
        <button mat-button color="primary" (click)="nextStep()">Siguiente</button> -->
        </div>
        <div *ngIf="i === (groupMatches.length - 1)">
          <div class="text-center">
            <button class="btn btn-warning btn-fill btn-wd" (click)="prevStep()">Anterior</button>
            <button class="btn btn-primary btn-fill btn-wd" (click)="nextStep()">Finalizar</button>
          </div>
          <!-- <button mat-button color="warn" (click)="prevStep()">Anterior</button>
        <button mat-button color="primary" (click)="nextStep()">Finalizar</button> -->
        </div>
      </mat-action-row>

    </mat-expansion-panel>
  </mat-accordion>
  <button type="submit" (click)="show()"></button>
  <div class="clearfix"></div>
</div>

<!-- <mat-accordion class="example-headers-align">
  <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Personal data
      </mat-panel-title>
    </mat-expansion-panel-header>

    <label>asdasd</label>

    <mat-action-row>
      <button mat-button color="primary" (click)="nextStep()">Next</button>
    </mat-action-row>
  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Destination
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-action-row>
      <button mat-button color="warn" (click)="prevStep()">Previous</button>
      <button mat-button color="primary" (click)="nextStep()">Next</button>
    </mat-action-row>
  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Day of the trip
      </mat-panel-title>
    </mat-expansion-panel-header>
    <label>asdasd</label>
    <mat-action-row>
      <button mat-button color="warn" (click)="prevStep()">Previous</button>
      <button mat-button color="primary" (click)="nextStep()">End</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion> -->