<div class="container-fluid">
  <div class="row">
    <div class="col-lg-3 col-sm-6">
      <div class="card">
        <div class="content">
          <div class="row">
            <div class="col-xs-5">
              <div class="icon-big icon-warning text-center">
                <i class="ti-bar-chart"></i>
              </div>
            </div>
            <div class="col-xs-7">
              <div class="numbers">
                <p>Puntos</p>
                {{points}}
              </div>
            </div>
          </div>
          <div class="footer">
            <hr />
            <div class="stats">
              <i class="ti-angle-right"></i> Puntos obtenidos
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-sm-6">
      <div class="card">
        <div class="content">
          <div class="row">
            <div class="col-xs-5">
              <div class="icon-big icon-success text-center">
                <i class="ti-stats-up"></i>
              </div>
            </div>
            <div class="col-xs-7">
              <div class="numbers">
                <p>Exactos</p>
                {{resultadoExacto}}
              </div>
            </div>
          </div>
          <div class="footer">
            <hr />
            <div class="stats">
              <i class="ti-angle-right"></i> Resultados exactos
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-sm-6">
      <div class="card">
        <div class="content">
          <div class="row">
            <div class="col-xs-5">
              <div class="icon-big icon-danger text-center">
                <i class="ti-pulse"></i>
              </div>
            </div>
            <div class="col-xs-7">
              <div class="numbers">
                <p>Posición</p>
                {{position}}°
              </div>
            </div>
          </div>
          <div class="footer">
            <hr />
            <div class="stats">
              <i class="ti-angle-right"></i> Posición en la lista
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-sm-6">
      <div class="card">
        <div class="content">
          <div class="row">
            <div class="col-xs-5">
              <div class="icon-big icon-info text-center">
                <i class="ti-world"></i>
              </div>
            </div>
            <div class="col-xs-7">
              <div class="numbers">
                <p>Participantes</p>
                {{participants}}
              </div>
            </div>
          </div>
          <div class="footer">
            <hr />
            <div class="stats">
              <i class="ti-angle-right"></i> Total de participantes
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="header">
          <h4 class="title">Ranking</h4>
          <p class="category">Puntajes por participantes</p>
        </div>
        <div class="content">
          <div id="chartGeneral" class="ct-chart"></div>
          <div class="footer">
            <hr>
            <div class="stats">
              <i class="ti-reload"></i> Updated 3 minutes ago
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="header">
          <h4 class="title">Top 5</h4>
        </div>
        <div class="content">
          <div id="chartTop" class="ct-chart ct-perfect-fourth"></div>
          <div class="footer">
            <hr>
            <div class="stats">
              <i class="ti-info"></i> Participantes con mas puntaje en lo que va de competencia.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>